.band {

	padding-bottom: 2em;
	padding-top: 2em;

	&--large {

		padding-bottom: 4em;
		padding-top: 4em;

	}


	&--primary {

		background-color: $green;
		color: $white;

		a:not(.button),
		a:not(.button):visited {

			color: inherit;

		}

	}


	&--secondary {

		background-color: $navy;
		color: $white;

		a,
		a:visited {

			color: inherit;

		}

	}


	&--secondary-dark {

		background-color: darken( $navy, 5 );
		color: $white;

		a,
		a:visited {

			color: inherit;

		}

	}


	&--primary-angled {

		@include mq( $bp_desk ) {

			position: relative;

			&:before {

				background-color: $green;
				content: "";
				display: block;
				height: 7em;
				left: -50%;
				position: absolute;
				top: -15%;
				transform-origin: center;
				width: 200%;

			}


			.band__body {

				position: relative;
				z-index: 5;

			}

		}

	}


	&--primary-angled-left {

		@include mq( $bp_desk ) {

			&:before {

				transform: rotate( 2deg );

			}

		}

	}


	&--primary-angled-right {

		@include mq( $bp_desk ) {

			&:before {

				transform: rotate( -2deg );

			}

		}

	}


	&--grey {

		background-color: $grey;
		color: $dark-grey;

	}

}