body.blog {
	
	article:nth-child(even) {

		background-color: $grey;

	}

}

.comments-title {
	
	@extend h3;

}

.comments-link {
	
	display: block;
	margin-bottom: 1.5em;

}

#reply-title {
	
	@extend h4;

}

img.avatar {
	
	vertical-align: middle;

}