.button {
	
	padding: $gutter_y/2 $gutter_x;
	background: $green;
	border: 2px solid $green;
	display: inline-block;
	text-transform: uppercase;
	color: $white;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;

	&:visited {

		color: $white;

	}
	
	&:hover,
	&:active,
	&:focus {
	
		color: $green;
		background: transparent;
		
	}


	&--ghost {

		background: transparent;

		&:hover,
		&:active,
		&:focus {

			background-color: $green;
			color: $white;

		}

	}


	&--white {

		border-color: $white;
		color: $white;
		background-color: transparent;

		&:hover,
		&:active,
		&:focus {

			color: $green !important;
			background-color: $white;

		}

		&:visited {

			color: $white;

		}

	}
	
}