.site-footer {

	@extend .band--large;
	@extend .band--secondary;
	background-image: url( 'https://raw.githubusercontent.com/cameronjonesweb/wcbne17/master/src/img/brisbane-city.png' );
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 0 !important;

	.widget-title {

		@extend .h3;

	}

}



.site-info {

	margin-top: 4em;

}


[id^="footer-widgets"] {

	@extend .wrap;

}


.footer-widgets-block {

	@extend .g-one-half\@desk;
	display: inline-block;
	margin-right: -5px;
	vertical-align: top;

	@include mq( $bp_desk ) {

		&:nth-of-type( 2n ) {

			padding-left: 8.333%;

		}

	}

}




/*
*	Subscribe to newsletter
*/
#subscribe-email {

	@extend .layout__item;
	margin-bottom: 0;
	margin-right: -5px;
	padding-left: 0 !important;
	vertical-align: top;
	
	@include mq( $bp_lap ) {

		width: 80% !important;

	}

	input {

		width: 100% !important;

	}

}

#subscribe-submit {

	@extend .layout__item;
	margin-bottom: 0;
	padding-left: 0 !important;
	vertical-align: top;
	
	@include mq( $bp_lap ) {

		width: 20% !important;

	}

	input[type^="submit"] {

		@extend .button;
		box-shadow: none !important;
		border-radius: 0 !important;
		padding: .95em  1.5em;;

	}

}



/*
*	Footer menu widget
*/
[id^="menu-site-map"] {

	margin-left: 0;
	list-style: none;
	column-count: 2;
	column-gap: 3em;
	column-width: 200px;


	li {

		padding-left: 0;

	}

}


[id^="footer-widget-2"] {

	.widget-title {

		@extend h6;
		border-bottom: 1px solid rgba( $white, .1 );
		margin-bottom: 1em;

	}


	a {

		text-decoration: none;

		&:hover {

			color: $green !important;

		}

	}

}