.site-footer {

	background-colour: $lightblue;
	
	.site-info {

		background: $darkblue;
		padding: 30px 0;
		text-align: centre;

		@include mq( $bp_desk ) {

			padding: 40px;

		}

		a {

			color: $white;
			display: inline-block;
			font-size: 18px;
			font-weight: bold;
			margin: 0 25px;
			text-decoration: none;
			text-transform: uppercase;

			&:hover, &:active, &focus {

				color: $green;

			}

		}

	}

}