.site-footer {

	background-colour: $lightblue;
	
	.site-info {

		background: $darkblue;
		padding: $gutter_y 0;
		text-align: centre;

		@include mq( $bp_desk ) {

			padding: $gutter_y * 1.5;

		}

		a {

			color: $white;
			display: inline-block;
			font-size: 1em;
			font-weight: bold;
			margin: $gutter_y / 2 $gutter_x / 2;
			text-decoration: none;
			text-transform: uppercase;

			&:hover, &:active, &focus {

				color: $green;

			}

		}

	}

}