input, #s {
	
	padding: .75em 1em;

}

body .contact-form {

	input[type=text], input[type=email], textarea, select {
		
		@extend input;

		width: 80%;

	}

}

input[type=submit] {
	
	@extend .button;

	border-radius: 0;
	box-shadow: none;
	text-shadow: none;

}