input, #s {
	
	padding: .75em 1em;

}

body .contact-form,
.tix_tickets_table {

	input[type=text], input[type=email], textarea, select {
		
		padding: .75em 1em;
		width: 80%;

	}

}

.tix_tickets_table {

	input[type=text],input[type=url], input[type=email], textarea, select {

		width: 100%;

	}

}

input[type=submit] {
	
	@extend .button;

	border-radius: 0;
	box-shadow: none;
	text-shadow: none;

}

input[type=checkbox],
body .contact-form input[type=checkbox] {

	border: 2px solid $dark-grey;
    -webkit-appearance: none !important;
    border-radius: 2px;
    margin-bottom: 0;
    margin-right: .5em;
    padding: 6px;
    position: relative;
    vertical-align: baseline;
	
	&:checked:before {

		color: $green;
		content: "\f147";
	    font-family: Dashicons;
	    font-size: 30px;
	    left: -75%;
	    position: absolute;
	    top: -75%;

	}

}

input[type=radio],
body .contact-form input[type=radio] {
	
	@extend input[type=checkbox];

	border-radius: 50%;

}

body label.grunion-checkbox-multiple-label {
	
	display: inline-block;

}