h1 {

	font-size: 3.5rem;
	font-weight: 900;
	line-height: 1.1em;

	@include mq( $bp_lap ) {

		font-size: 5em;

	}

}


h2,
.h2 {

	font-size: 2.1em;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.1;

	@include mq( $bp_lap ) {

		font-size: 3.5em;

	}

}


h3,
.h3 {
	font-size: 1.5em;
	font-weight: 900;
	text-transform: uppercase;

	@include mq( $bp_lap ) {

		font-size: 2.1em;

	}

}


h4 {
	
	font-size: 1em;

	@include mq( $bp_lap ) {

		font-size: 1.5em;

	}

}


h6 {

	font-size: 1em;
	font-weight: 900;
	text-transform: uppercase;

}