body.home #after-header-widgets {
	
	align-items: center;
	color: $white;
	display: flex;
	min-height: 100vh;
	padding-bottom: $gutter_y * 2;
	padding-top: $gutter_y * 2;
	text-align: center;
	width: 100%;

	// Actual image, pos:fixed to reduce repaint lag
	&:before {

		background-image: $hero;
		background-position: center;
		background-size: cover;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: -1;

	}
	
	aside {
	
		position: static;
		width: 100%;
		
    	&:after {

    		content: "Image courtesy of Ken Ware Photos";
    		position: absolute;
    		bottom: $gutter_y;
    		right: 0;
    		padding: $gutter_y $gutter_x;
    		font-size: 1rem;

    	}


    	.wrap {

			position: relative;
			z-index: 2;

    	}
		
	}
	
	h1 {
		
		font-size: 7rem;
		font-weight: 300;
		line-height: 1;

		b {

			font-weight: 600;

		}

		@include mq( $bp_lap ) {

			font-size: 150px;

		}

		@include mq( $bp_desk ) {

			font-size: 235px;

		}
	
	}

	h2 {
	
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 1em;
		
	}

	// Tint/overlay
	&:after {
	
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,50,0.3);
	    z-index: 0;
	
	}
	
}

body.page:not(.home) .entry-header,
body.archive .page-header,
body.single-post .entry-header,
body.single-wcb_speaker .entry-header,
body.search .page-header,
body.error404 .entry-header {

	padding: 50% 0 4em;
	background-image: $hero;
	background-size: cover;
	background-position: center;
	color: #fff;

	@include mq( $bp_lap ) {

		padding-top: 30%;

	}

	@include mq( $bp_desk ) {

		padding-top: 20%;

	}
	
	&:before {
	
	    content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,50,0.3);
	
	}

	> * {

		@extend .wrap;

	}

	.entry-title {

		@extend h1;

	}
	
}


body.archive .page-title {
	
	@extend h1;

}


body.blog,
body.single:not(.single-post):not(.single-wcb_speaker) {

	#before-content-widgets {
		
		padding: 50% 0 4em;
		background-image: $hero;
		background-size: cover;
		background-position: center;
		color: $white;

		@include mq( $bp_lap ) {

			padding-top: 30%;

		}

		@include mq( $bp_desk ) {

			padding-top: 20%;

		}
		
		&:after {

			@extend h1;

			@extend .wrap;
			
			display: block;
			position: relative;
			z-index: 2;
			
		}

		&:before {
	
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,50,0.3);
		
		}
		
	}
	
}


body.blog #before-content-widgets:after {
	
	content: "Latest News";

}

body.single-wcb_sponsor #before-content-widgets:after {

	content: "Sponsors";

}


// Set a default background colour to hide the hero
#main {

	background-color: $white;

}