#masthead {
	
	padding: $gutter_y $gutter_x;
	z-index: 90210;
	width: 100%;
	position: absolute;
	
	a {
		
		color: #fff;
		text-decoration: none;
		
	}
	
	hgroup {
	
		display: inline-block;
		margin-right: -4px;
		position: absolute;
		vertical-align: middle;
		width: 50%;

		@include mq( $bp_lap ) {

			position: relative;
			width: 30%;

		}
		
	}

	.site-navigation {
		
		display: inline-block;
		float: none;
		font-weight: 600;
		margin-right: -4px;
		text-align: right;
		vertical-align: middle;
		width: 100%;

		@include mq( $bp_lap ) {

			width: 70%;

		}

		ul {

			background-colour: $green;
			margin-left: 0;
			margin-top: 1rem;

			@include mq( $bp_lap ) {

				background-colour: transparent;
				margin-right: -$gutter_x;
				margin-top: 0;

			}

		}
	
	}

	li {
		
		float: none;
		list-style: none;

		@include mq( $bp_lap ) {

			display: inline-block;
			text-align: left;
			margin-left: ( $gutter_x / 2 );
			margin-right: ( $gutter_x / 2 );

			a {

				position: relative;

				&:after {

					background-colour: transparent;
					content: "";
					display: inline-block;
					height: 3px;
					left: $gutter_x;
					left: 50%;
					position: absolute;
					top: 100%;
					transform: translateX( -50% );
					transition: width .2s ease;
					width: 0;

				}

			}

		}

		&.current-menu-item, &:hover, &:focus, &:active {

			@include mq( $bp_lap ) {
			
				a {

					&:after {

						background-colour: $green;
						width: calc( 100% - #{ $gutter_x } );

					}

				}

			}
			
		}

		a {

			display: block;
			padding: ( $gutter_y / 2 )  ( $gutter_x / 2 );

			@include mq( $bp_lap ) {

				display: inline-block;
				padding: ( $gutter_y / 4 )  ( $gutter_x / 2 );

			}

		}
	
	}

	.site-title {

		line-height: 0;
		z-index: 5;

		a {

			display: none;

		}

		a {

			background-image: url('https://raw.githubusercontent.com/cameronjonesweb/wcbne17/master/src/img/masthead-logo.png');
			background-position: left centre;
			background-size: contain;
			content: "";
			display: inline-block;
			height: 0.66em;
			max-width: 100%;
			text-indent: -90210px;

			@include mq( $bp_lap ) {

				background-size: 171px 36px;
				width: 171px;

			}

		}

	}

	.menu-toggle {

		color: $green;
	    font-size: 1em;
	    padding-right: 2.5rem;
	    right: 0;

	    &:after {

	    	content: "";
		    position: absolute;
		    display: block;
		    height: 0;
		    top: 50%;
		    margin-top: -0.66rem;
		    right: 0;
		    box-shadow: 0 0 0 1px $green, 0 7px 0 1px $green, 0 14px 0 1px $green;
		    width: 1em;

	    }

	}
	
}