.wcorg-organizers {
	
	.wcorg-organizer {

		margin-bottom: 1em;

		&:after {

			@include clearfix();

		}
		
		h2 {

			@extend h3;
			margin-bottom: .5em;
			font-size: 3em;

		}

		.avatar {

			margin-bottom: 1em;

			@include mq( $bp_desk ) {

				float: left;
				margin-right: 2em;

			}

		}
		
	}
	
}