.widget.wcb_widget_sponsors {

	@extend .band;
	@extend .band--large;
	@extend .band--grey;
	@extend .wrap;
	position: relative;
	text-align: center;

	&:before {

		background-color: $grey;
		content: "";
		display: block;
		height: 100%;
		left: -333.33%;
		position: absolute;
		top: 0;
		width: 1000%;

	}


	.widget-title {

		padding-top: 0;

	}


	.sponsor-level-title {

		text-transform: uppercase;
		font-weight: 600;
		font-size: 1em;

	}


	.sponsor-logo {

		background-color: $white;
		border-style: solid;
		border-width: 3px;
		border-bottom: none;
		border-left: none;
		border-right: none;
		color: $green;
		display: inline-block;
		font-weight: 600;
		line-height: 0;
		margin: 1em;
		padding: 2em;
		text-decoration: none;
		vertical-align: middle;
		width: 80%;

		@include mq( $bp_lap ) {

			width: 33.333%;

		}

		@include mq( $bp_desk ) {

			width: auto;

		}

		img {

			max-height: 10em;
			height: auto;

			@include mq( $bp_desk ) {

				max-width: 10em;
				width: auto;

			}

		}

	}

}


.sponsor-level {

	display: inline-block;
	text-align: center;
	width: 100%;

	@include mq( $bp_desk ) {

		width: auto;

	}

	&.gold .sponsor-logo {

	    border-color: $gold;

	}

	&.silver .sponsor-logo {

	    border-color: $silver;

	}

	&.bronze .sponsor-logo {

	    border-color: $bronze;

	}

}