.widget-area.front-page .widget {

	margin-bottom: 0;

	> *:not(.textwidget) {

		@extend .wrap;

	}

	.widget-title {

		@extend .wrap;
		@extend h2;

		padding-top: $gutter_y;
		text-align: center;
		padding-left: 0;
		padding-right: 0;

	}

}

.widget_recent_entries {

	padding-top: 4em;

	.widget-title {

		padding-top: 0;

	}
	
	ul {

		list-style-type: none;
		margin: 0;

	}

	li {

		display: inline-block;
		margin-bottom: $gutter_y;
		overflow: hidden;
		padding: 3em 1em;
		vertical-align: top;
		width: 100%;

		@media ( max-width: #{ $bp_lap - 1 } ) {

			+ li {

				border-top: 1px solid $grey;

			}

		}


		@include mq( $bp_lap ) {

			margin-right: -4px;
			width: 50%;
			padding-left: 2.5em;
			padding-right: 2.5em;

			&:nth-of-type( 2n ) {

				border-left: 1px solid $grey;

			}
		
		}

	}

	a {

		@extend h4;
		display: block;
		max-width: 16em;
		padding: 2em 0 0 0;
		position: static;
		line-height: 1;
		font-weight: 900;
		text-decoration: none;

		&:hover {

			color: $green;

		}

		&:before {

			content: "News";
			display: inline-block;
			position: absolute;
			top: .25em;
			left: -1rem;
			opacity: .1;
			font-size: 6.5em;
			text-transform: uppercase;

			@include mq( $bp_lap ) {

				font-size: 4.5em;
				left: 2.5rem;

			}

		}


		&:after {

			@extend .box__link;
			content: "";
			margin-bottom: .5em;

		}


		&:hover:after {

			width: 5em;

		}

	}

	.post-date {

		display: block;

		&:before {

			content: "\f145";
			display: inline-block;
			font-family: 'Dashicons';
			margin-right: 0.5em;
			vertical-align: bottom;

		}

	}

}