.wrap {

	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
	padding-left: $gutter_x;
	padding-right: $gutter_x;

}

body.single-post article > .entry-content,
body.single-wcb_speaker article > .entry-content,
body.archive article,
body.page article > .entry-content, 
body.single:not(.single-post):not(.single-wcb_speaker) #primary {

	@extend .wrap;

	padding-bottom: ( $gutter_y * 2 );
	padding-top: ( $gutter_y * 2 );

}

#content .site-navigation,
body.single footer.entry-meta,
#secondary,
body.search article > * {
	
	@extend .wrap;

}



#content .site-navigation {

	margin-bottom: ( $gutter_y * 2 );

}



.u-line-length {

	max-width: 48em;

}


.u-line-length--center {

	margin-left: auto;
	margin-right: auto;

}


.u-text--center {

	text-align: center;

}