.wrap {

	margin-left: auto;
	margin-right: auto;
	max-width: 1170px;
	padding-left: $gutter_x;
	padding-right: $gutter_x;

}

body.home #primary, 
body.single:not(.single-wcb_sponsor) article > .entry-content, 
body.archive article, 
body.page article > .entry-content, 
body.single-wcb_sponsor #primary {

	@extend .wrap;

	padding-bottom: $gutter_y;
	padding-top: $gutter_y;

}

#content .site-navigation, #comments, body.single footer.entry-meta, #secondary {
	
	@extend .wrap;

}