// Colours
$green: #5cd3bd;
$white: #fff;
$navy: #19293a;
$grey: #f4f4f4;
$dark-grey: #4a4a4a;
$navy: #19293a;
$darkblue: #111c27;
$lightblue: #19293a;
$gold: #C9AE5D;
$silver: #c0c0c0;
$bronze: #CD7F32;

// Hero component
$hero: url(https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/14963293_818811204888544_7171333292064415941_n.jpg?oh=9d3bce540d8134f041963dd28e210196&oe=58C5474F);

// Sizes
$gutter_x: 3rem;
$gutter_y: 2rem;

// Main large breakpoint
$bp_desk: 992px;
$bp_lap: 768px;


// Icons
$icon_width: 100px;
$icon_height: $icon_width;

$icon_num_cols: 2;
$icon_num_rows: 1;

$icon_sprite: url('https://raw.githubusercontent.com/cameronjonesweb/wcbne17/master/src/img/sprite.png');
$icon_sprite_width: $icon_width * $icon_num_cols;
$icon_sprite_height: $icon_height * $icon_num_rows;